<!-- INICIO BARRA DE FERRAMENTAS -->
<mat-toolbar>
  <span>Agenda - Meus Contatos</span>
</mat-toolbar>
<!-- FIM BARRA DE FERRAMENTAS -->

<!-- INICIO FORMULARIO -->
<form [formGroup]="formulario" (ngSubmit)="submit()">

  <!-- CAMPO NOME -->
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input formControlName="form_nome" matInput placeholder="Digite o nome" value="">
  </mat-form-field>

  <!-- CAMPO E-MAIL -->
  <mat-form-field class="full-width">
    <mat-label>E-mail</mat-label>
    <input formControlName="form_email" matInput placeholder="Digite o e-mail" value="">
  </mat-form-field>

  <!-- BOTAO SALVAR -->
  <button mat-raised-button color="primary">Salvar</button>

</form>
<!-- FIM FORMULARIO -->
